
.stand-out-component {
    .stand-out-content {
        display: flex;

        .desktop-version {
            display: block;

            .stand-out-image {
                width: 50%;
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
    
            .stand-out-wrapper {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
    
                .stand-out-text {
                    padding-left: 5rem;
                    padding-right: 5rem;
    
                    .stand-out-title {
                        color: hsl(212, 27%, 19%);
                        font-family: 'Fraunces', serif;
                        font-weight: 700;
                        font-size: 40px;
                    }
        
                    .stand-out-description {
                        color: hsl(210, 4%, 67%);
                        font-size: 18px;
                        font-weight: 400;
                        
                    }
        
                    .button-wrapper {
                        display: flex;
    
                        .button-information {
                            color: hsl(212, 27%, 19%);
                            font-size: 18px;
                            font-weight: bold;
                            padding: 0.2rem 1rem;
                            margin-top: 2rem;
                            cursor: pointer;
    
                            display: flex;
                            flex-direction: column;
                            align-items: center;
    
                            .button-text {
                                position: relative;
                                z-index: 5;
                            }
        
                            .button-style {
                                margin-top: -8px;
                                position: relative;
                                background-color: hsl(7, 99%, 70%);
                                width: 110%;
                                height: 8px;
                                border-radius: 7px;
                                z-index: 1;
                                opacity: 0;  
                            }
                            &:hover {
                                .button-style {
                                    opacity: 1;
                                } 
                            }
                        }
                    } 
                }
            }
        }  

        .mobile-version {
            display: none;
        }
    }
}

@media only screen and (max-width: 480px) {
    .stand-out-component {
        .stand-out-content {
            display: flex;
            flex-direction: column;
    
            .desktop-version {
                display: none;
            }  

            .mobile-version {
                display: block;
    
                .stand-out-image {
                    width: 100%;
        
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
        
                .stand-out-wrapper {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
        
                    .stand-out-text {
                        padding-left: 5rem;
                        padding-right: 5rem;
                        text-align: center;
        
                        .stand-out-title {
                            color: hsl(212, 27%, 19%);
                            font-family: 'Fraunces', serif;
                            font-weight: 700;
                            font-size: 40px;
                        }
            
                        .stand-out-description {
                            color: hsl(210, 4%, 67%);
                            font-size: 18px;
                            font-weight: 400;
                            
                        }
            
                        .button-wrapper {
                            text-align: center;
        
                            .button-information {
                                color: hsl(212, 27%, 19%);
                                font-size: 18px;
                                font-weight: bold;
                                padding: 0.2rem 1rem;
                                margin-top: 2rem;
                                cursor: pointer;
        
                                display: flex;
                                flex-direction: column;
                                align-items: center;
        
                                .button-text {
                                    position: relative;
                                    z-index: 5;
                                }
            
                                .button-style {
                                    margin-top: -8px;
                                    position: relative;
                                    background-color: hsl(7, 99%, 70%);
                                    width: 110%;
                                    height: 8px;
                                    border-radius: 7px;
                                    z-index: 1;
                                    opacity: 0;  
                                }
                                &:hover {
                                    .button-style {
                                        opacity: 1;
                                    } 
                                }
                            }
                        } 
                    }
                }
            }  
        }
    }
}