.gallery-component {
    .gallery-image {
        display: flex;

        .image-item {
            width: 25%;
            
            img {
                width: 100%;
            }
        }
    }
}